In [2]:
import pandas as pd
from pymongo import MongoClient
from collections import defaultdict
from urllib.parse import quote_plus
import requests

In [3]:
# Configurar conexi√≥n
usuario = "jalope"
contrasena = "admin"
host = "127.0.0.1"
puerto = "27250"

uri = f"mongodb://{quote_plus(usuario)}:{quote_plus(contrasena)}@{host}:{puerto}/?directConnection=true"
client = MongoClient(uri)
db = client["tfm_db"]

In [6]:
df_comp = pd.DataFrame(list(db.EUROSTAT_GOV10A_EXP_GDP_COMPARATIVA.find()))

In [7]:
df_comp.head()

                        _id  year  education_pct_gdp  pensions_pct_gdp country
0  685cfc7c9b9ce874eaa20f6e  1995                4.3               6.6      ES
1  685cfc7c9b9ce874eaa20f6f  1996                4.3               6.7      ES
2  685cfc7c9b9ce874eaa20f70  1997                4.2               6.6      ES
3  685cfc7c9b9ce874eaa20f71  1998                4.1               6.5      ES
4  685cfc7c9b9ce874eaa20f72  1999                4.2               6.4      ES

In [8]:
df_comp = df_comp.sort_values(['country','year'])
df_comp['delta_edu'] = df_comp.groupby('country')['education_pct_gdp'].diff()

In [9]:
df_comp.head()

,_id,year,education_pct_gdp,pensions_pct_gdp,country,delta_edu
29,685cfc7c9b9ce874eaa20f8b,1995,5.5,12.1,AT,NaN
30,685cfc7c9b9ce874eaa20f8c,1996,5.5,12.3,AT,0.0
31,685cfc7c9b9ce874eaa20f8d,1997,5.5,12.2,AT,0.0
32,685cfc7c9b9ce874eaa20f8e,1998,5.4,12.1,AT,-0.1
33,685cfc7c9b9ce874eaa20f8f,1999,5.4,12.2,AT,0.0

In [10]:
df_sf = pd.DataFrame(list(db.EUROSTAT_SPENDING_FLOWS.find()))
df_sf.head()

,_id,geo,time_period,gf01_general_public_services,gf07_health,gf09_education,gf1002_old_age,d51c1,d51c2,d51c3,d51d,d51e,d59,d61,d91,inclusion_index,urban_rate
0,685d23d139e248e523f55877,DE,1995,7.4,6.1,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,685d23d139e248e523f55878,DE,1996,7.3,6.2,4.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,685d23d139e248e523f55879,DE,1997,7.3,6.1,4.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,685d23d139e248e523f5587a,DE,1998,7.2,6.1,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,685d23d139e248e523f5587b,DE,1999,6.9,6.1,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [12]:
df_sf_simple = df_sf[['geo','time_period','inclusion_index','urban_rate']]

In [16]:
df_sf_simple = (
    df_sf
      .rename(columns={
         'geo': 'country',
         'time_period': 'year'    # cambia time_period a year
      })[
         ['country','year','inclusion_index','urban_rate']
      ]
)

# Convertir year de string a int
df_sf_simple['year'] = df_sf_simple['year'].astype(int)

In [17]:
df_sf_simple.sample(5)

       country  year  inclusion_index  urban_rate
59   EU27_2020  1996              NaN         NaN
94          IT  2002              NaN         NaN
32          ES  1998              NaN         NaN
123         SE  2002              NaN         NaN
142         SE  2021           99.375      88.238

In [18]:
df_mod = pd.merge(
    df_comp,
    df_sf_simple,
    on=['country','year'],
    how='inner'
)

In [19]:
df_mod

,_id,year,education_pct_gdp,pensions_pct_gdp,country,delta_edu,inclusion_index,urban_rate
0,685cfc7c9b9ce874eaa20f6e,1995,4.3,6.6,ES,NaN,NaN,NaN
1,685cfc7c9b9ce874eaa20f6f,1996,4.3,6.7,ES,0.0,NaN,NaN
2,685cfc7c9b9ce874eaa20f70,1997,4.2,6.6,ES,-0.1,NaN,NaN
3,685cfc7c9b9ce874eaa20f71,1998,4.1,6.5,ES,-0.1,NaN,NaN
4,685cfc7c9b9ce874eaa20f72,1999,4.2,6.4,ES,0.1,NaN,NaN
5,685cfc7c9b9ce874eaa20f73,2000,4.1,6.3,ES,-0.1,NaN,NaN
6,685cfc7c9b9ce874eaa20f74,2001,4.0,6.1,ES,-0.1,NaN,NaN
7,685cfc7c9b9ce874eaa20f75,2002,4.0,6.2,ES,0.0,NaN,NaN
8,685cfc7c9b9ce874eaa20f76,2003,4.0,6.1,ES,0.0,NaN,NaN
9,685cfc7c9b9ce874eaa20f77,2004,4.1,6.0,ES,0.1,NaN,NaN
10,685cfc7c9b9ce874eaa20f78,2005,4.0,6.0,ES,-0.1,NaN,NaN
11,685cfc7c9b9ce874eaa20f79,2006,4.0,6.1,ES,0.0,NaN,NaN
12,685cfc7c9b9ce874eaa20f7a,2007,4.0,6.1,ES,0.0,NaN,NaN
13,685cfc7c9b9ce874eaa20f7b,2008,4.2,6.3,ES,0.2,NaN,NaN
14,685cfc7c9b9ce874eaa20f7c,2009,4.6,7.0,ES,0.4,NaN,NaN
15,685cfc7c9b9ce874eaa20f7d,2010,4.5,7.4,ES,-0.1,NaN,NaN
16,685cfc7c9b9ce874eaa20f7e,2011,4.4,7.9,ES,-0.1,93.280,78.673
17,685cfc7c9b9ce874eaa20f7f,2012,4.2,8.5,ES,-0.2,NaN,NaN
18,685cfc7c9b9ce874eaa20f80,2013,4.1,9.0,ES,-0.1,NaN,NaN
19,685cfc7c9b9ce874eaa20f81,2014,4.1,9.2,ES,0.0,95.890,79.366
20,685cfc7c9b9ce874eaa20f82,2015,4.1,9.1,ES,0.0,NaN,NaN
21,685cfc7c9b9ce874eaa20f83,2016,4.0,9.1,ES,-0.1,NaN,NaN
22,685cfc7c9b9ce874eaa20f84,2017,4.0,9.1,ES,0.0,92.125,80.080
23,685cfc7c9b9ce874eaa20f85,2018,3.9,9.3,ES,-0.1,NaN,NaN
24,685cfc7c9b9ce874eaa20f86,2019,4.0,9.5,ES,0.1,NaN,NaN
25,685cfc7c9b9ce874eaa20f87,2020,4.6,10.9,ES,0.6,NaN,NaN
26,685cfc7c9b9ce874eaa20f88,2021,4.5,10.5,ES,-0.1,97.915,81.056
27,685cfc7c9b9ce874eaa20f89,2022,4.3,10.0,ES,-0.2,NaN,NaN
28,685cfc7c9b9ce874eaa20f8a,2023,4.2,10.2,ES,-0.1,NaN,NaN
29,685cfc7c9b9ce874eaa20fa8,1995,4.9,NaN,EU27_2020,NaN,NaN,NaN
30,685cfc7c9b9ce874eaa20fa9,1996,5.0,NaN,EU27_2020,0.1,NaN,NaN
31,685cfc7c9b9ce874eaa20faa,1997,4.9,NaN,EU27_2020,-0.1,NaN,NaN
32,685cfc7c9b9ce874eaa20fab,1998,4.9,NaN,EU27_2020,0.0,NaN,NaN
33,685cfc7c9b9ce874eaa20fac,1999,4.9,NaN,EU27_2020,0.0,NaN,NaN
34,685cfc7c9b9ce874eaa20fad,2000,4.8,NaN,EU27_2020,-0.1,NaN,NaN
35,685cfc7c9b9ce874eaa20fae,2001,4.9,9.1,EU27_2020,0.1,NaN,NaN
36,685cfc7c9b9ce874eaa20faf,2002,4.9,9.1,EU27_2020,0.0,NaN,NaN
37,685cfc7c9b9ce874eaa20fb0,2003,5.0,9.4,EU27_2020,0.1,NaN,NaN
38,685cfc7c9b9ce874eaa20fb1,2004,4.9,9.3,EU27_2020,-0.1,NaN,NaN
39,685cfc7c9b9ce874eaa20fb2,2005,4.9,9.3,EU27_2020,0.0,NaN,NaN
40,685cfc7c9b9ce874eaa20fb3,2006,4.8,9.3,EU27_2020,-0.1,NaN,NaN
41,685cfc7c9b9ce874eaa20fb4,2007,4.7,9.2,EU27_2020,-0.1,NaN,NaN
42,685cfc7c9b9ce874eaa20fb5,2008,4.8,9.4,EU27_2020,0.1,NaN,NaN
43,685cfc7c9b9ce874eaa20fb6,2009,5.1,10.2,EU27_2020,0.3,NaN,NaN
44,685cfc7c9b9ce874eaa20fb7,2010,5.0,10.2,EU27_2020,-0.1,NaN,NaN
45,685cfc7c9b9ce874eaa20fb8,2011,4.9,10.2,EU27_2020,-0.1,NaN,NaN
46,685cfc7c9b9ce874eaa20fb9,2012,4.9,10.5,EU27_2020,0.0,NaN,NaN
47,685cfc7c9b9ce874eaa20fba,2013,4.9,10.6,EU27_2020,0.0,NaN,NaN
48,685cfc7c9b9ce874eaa20fbb,2014,4.9,10.6,EU27_2020,0.0,NaN,NaN
49,685cfc7c9b9ce874eaa20fbc,2015,4.8,10.5,EU27_2020,-0.1,NaN,NaN
50,685cfc7c9b9ce874eaa20fbd,2016,4.7,10.5,EU27_2020,-0.1,NaN,NaN
51,685cfc7c9b9ce874eaa20fbe,2017,4.7,10.4,EU27_2020,0.0,NaN,NaN
52,685cfc7c9b9ce874eaa20fbf,2018,4.7,10.3,EU27_2020,0.0,NaN,NaN
53,685cfc7c9b9ce874eaa20fc0,2019,4.7,10.4,EU27_2020,0.0,NaN,NaN
54,685cfc7c9b9ce874eaa20fc1,2020,4.9,11.3,EU27_2020,0.2,NaN,NaN
55,685cfc7c9b9ce874eaa20fc2,2021,4.8,10.7,EU27_2020,-0.1,NaN,NaN
56,685cfc7c9b9ce874eaa20fc3,2022,4.6,10.3,EU27_2020,-0.2,NaN,NaN
57,685cfc7c9b9ce874eaa20fc4,2023,4.7,10.4,EU27_2020,0.1,NaN,NaN

In [21]:
df_mod = df_mod.drop('_id', axis = 1)

In [22]:
df_mod.sample()

,year,education_pct_gdp,pensions_pct_gdp,country,delta_edu,inclusion_index,urban_rate
3,1998,4.1,6.5,ES,-0.1,NaN,NaN

In [23]:
coll = db['MODERNIZATION_METRICS']
coll.drop()
coll.insert_many(df_mod.to_dict('records'))
print("Registros en la colecci√≥n: ", coll.count_documents({}))
print("N√∫mero de filas de df_raw: ", len(df_mod))

Registros en la colecci√≥n:  58
N√∫mero de filas de df_raw:  58