In [1]:
import pandas as pd
from pymongo import MongoClient
from collections import defaultdict
from urllib.parse import quote_plus
import requests

In [2]:
url_4583 = f"https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/4583"

In [3]:
resp = requests.get(url_4583, params=None)
resp.raise_for_status()
data_4583 = resp.json()

In [5]:
from collections import defaultdict

# Colección de valores únicos por campo
unique_values = defaultdict(set)

for item in data_4583:
    # Campos del nivel superior
    for key, val in item.items():
        if key != 'Data':
            unique_values[key].add(val)
    # Campos dentro de "Data"
    for entry in item.get('Data', []):
        for key, val in entry.items():
            unique_values[key].add(val)

# Imprimir resultados
for key, vals in unique_values.items():
    print(f"{key}:")
    # Convertimos a lista y ordenamos para legibilidad (si es posible)
    try:
        sorted_vals = sorted(vals)
    except TypeError:
        sorted_vals = list(vals)
    print(sorted_vals)
    print()

COD:
['ECV2441', 'ECV2442', 'ECV2443', 'ECV2444', 'ECV2445', 'ECV2446', 'ECV2447', 'ECV2448', 'ECV2449', 'ECV2450', 'ECV2451', 'ECV2452', 'ECV2453', 'ECV2454', 'ECV2455', 'ECV2456', 'ECV2461', 'ECV2462', 'ECV2463', 'ECV2464', 'ECV2465', 'ECV2466', 'ECV2467', 'ECV2468', 'ECV2469', 'ECV2470', 'ECV2471', 'ECV2472', 'ECV2473', 'ECV2474', 'ECV2475', 'ECV2476', 'ECV2477', 'ECV2478', 'ECV2479', 'ECV2480', 'ECV2485', 'ECV2486', 'ECV2487', 'ECV2488', 'ECV2489', 'ECV2490', 'ECV2491', 'ECV2492', 'ECV2493', 'ECV2494', 'ECV2495', 'ECV2496', 'ECV2497', 'ECV2498', 'ECV2499', 'ECV2500', 'ECV2501', 'ECV2502', 'ECV2503', 'ECV2504', 'ECV2509', 'ECV2510', 'ECV2511', 'ECV2512']

Nombre:
['Ambos sexos. 65 y más años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Ambos sexos. 65 y más años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Ambos sexos. 65 y más años. Total Nacional. Cesión. Hogar. ', 'Ambos sexos. 65 y más años. Total Nacional. Propiedad. Hogar. ', 'Ambos sexos. De 16 a 29 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Ambos sexos. De 16 a 29 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Ambos sexos. De 16 a 29 años. Total Nacional. Cesión. Hogar. ', 'Ambos sexos. De 16 a 29 años. Total Nacional. Propiedad. Hogar. ', 'Ambos sexos. De 30 a 44 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Ambos sexos. De 30 a 44 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Ambos sexos. De 30 a 44 años. Total Nacional. Cesión. Hogar. ', 'Ambos sexos. De 30 a 44 años. Total Nacional. Propiedad. Hogar. ', 'Ambos sexos. De 45 a 64 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Ambos sexos. De 45 a 64 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Ambos sexos. De 45 a 64 años. Total Nacional. Cesión. Hogar. ', 'Ambos sexos. De 45 a 64 años. Total Nacional. Propiedad. Hogar. ', 'Ambos sexos. Todas las edades. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Ambos sexos. Todas las edades. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Ambos sexos. Todas las edades. Total Nacional. Cesión. Hogar. ', 'Ambos sexos. Todas las edades. Total Nacional. Propiedad. Hogar. ', 'Hombres. 65 y más años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Hombres. 65 y más años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Hombres. 65 y más años. Total Nacional. Cesión. Hogar. ', 'Hombres. 65 y más años. Total Nacional. Propiedad. Hogar. ', 'Hombres. De 16 a 29 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Hombres. De 16 a 29 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Hombres. De 16 a 29 años. Total Nacional. Cesión. Hogar. ', 'Hombres. De 16 a 29 años. Total Nacional. Propiedad. Hogar. ', 'Hombres. De 30 a 44 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Hombres. De 30 a 44 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Hombres. De 30 a 44 años. Total Nacional. Cesión. Hogar. ', 'Hombres. De 30 a 44 años. Total Nacional. Propiedad. Hogar. ', 'Hombres. De 45 a 64 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Hombres. De 45 a 64 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Hombres. De 45 a 64 años. Total Nacional. Cesión. Hogar. ', 'Hombres. De 45 a 64 años. Total Nacional. Propiedad. Hogar. ', 'Hombres. Todas las edades. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Hombres. Todas las edades. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Hombres. Todas las edades. Total Nacional. Cesión. Hogar. ', 'Hombres. Todas las edades. Total Nacional. Propiedad. Hogar. ', 'Mujeres. 65 y más años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Mujeres. 65 y más años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Mujeres. 65 y más años. Total Nacional. Cesión. Hogar. ', 'Mujeres. 65 y más años. Total Nacional. Propiedad. Hogar. ', 'Mujeres. De 16 a 29 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Mujeres. De 16 a 29 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Mujeres. De 16 a 29 años. Total Nacional. Cesión. Hogar. ', 'Mujeres. De 16 a 29 años. Total Nacional. Propiedad. Hogar. ', 'Mujeres. De 30 a 44 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Mujeres. De 30 a 44 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Mujeres. De 30 a 44 años. Total Nacional. Cesión. Hogar. ', 'Mujeres. De 30 a 44 años. Total Nacional. Propiedad. Hogar. ', 'Mujeres. De 45 a 64 años. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Mujeres. De 45 a 64 años. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Mujeres. De 45 a 64 años. Total Nacional. Cesión. Hogar. ', 'Mujeres. De 45 a 64 años. Total Nacional. Propiedad. Hogar. ', 'Mujeres. Todas las edades. Total Nacional. Alquiler a precio de mercado. Hogar. ', 'Mujeres. Todas las edades. Total Nacional. Alquiler inferior al precio de mercado. Hogar. ', 'Mujeres. Todas las edades. Total Nacional. Cesión. Hogar. ', 'Mujeres. Todas las edades. Total Nacional. Propiedad. Hogar. ']

FK_Unidad:
[232]

FK_Escala:
[1]

Fecha:
[1072911600000, 1104534000000, 1136070000000, 1167606000000, 1199142000000, 1230764400000, 1262300400000, 1293836400000, 1325372400000, 1356994800000, 1388530800000, 1420066800000, 1451602800000, 1483225200000, 1514761200000, 1546297200000, 1577833200000, 1609455600000, 1640991600000, 1672527600000, 1704063600000]

FK_TipoDato:
[1]

FK_Periodo:
[28]

Anyo:
[2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

Valor:
[1.1, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.9, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7, 8.8, 8.9, 9.0, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9, 10.0, 10.2, 10.3, 10.4, 10.5, 10.6, 10.8, 10.9, 11.0, 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7, 11.8, 11.9, 12.0, 12.1, 12.3, 12.4, 12.5, 12.6, 12.7, 12.8, 12.9, 13.0, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 13.7, 13.8, 13.9, 14.0, 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.7, 14.8, 14.9, 15.0, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7, 15.8, 15.9, 16.0, 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.8, 16.9, 17.0, 17.1, 17.4, 17.5, 17.6, 18.0, 18.4, 18.5, 18.7, 18.9, 19.0, 19.2, 19.5, 19.7, 19.8, 20.1, 20.2, 20.9, 21.3, 21.4, 21.6, 22.0, 22.1, 22.5, 22.9, 23.6, 23.9, 24.2, 24.7, 25.1, 25.3, 25.5, 25.8, 26.0, 26.3, 26.4, 26.5, 26.6, 26.9, 27.0, 27.1, 27.2, 27.4, 27.5, 27.7, 27.9, 28.0, 28.2, 28.4, 28.5, 28.7, 28.8, 28.9, 29.0, 29.1, 29.4, 29.6, 29.9, 30.0, 30.1, 30.2, 30.3, 30.4, 30.7, 31.0, 31.1, 31.6, 31.8, 31.9, 32.3, 32.4, 32.5, 32.7, 32.9, 33.1, 33.3, 33.7, 33.8, 34.2, 34.9, 35.8, 36.2, 36.4, 37.0, 37.6, 37.9, 38.1, 38.5, 38.9, 39.0, 39.4, 39.5, 39.8, 40.3, 41.1, 41.8, 41.9, 42.3, 42.4, 42.5, 42.6, 43.1, 43.3, 43.4, 44.1, 45.3, 45.4, 45.5, 45.6, 45.8, 46.3, 46.4, 46.5, 46.6, 46.9, 47.0, 47.2, 47.4, 47.6, 47.7, 47.8, 47.9, 48.0, 48.1, 48.2, 48.6, 48.7, 48.9, 49.5, 49.8, 49.9, 50.0, 50.7, 51.2, 51.5, 52.9, 53.6, 54.2, 54.4, 54.5, 54.9, 55.1, 55.3, 56.1, 56.2, 56.5, 56.7, 56.8, 56.9, 58.0, 58.1, 58.3, 58.6, 59.0, 59.3, 59.4, 59.5, 60.7, 60.8, 61.4, 62.2, 62.3, 63.8, 64.4, 64.9, 65.3, 67.1, 67.2, 67.3, 67.7, 67.9, 68.6, 68.8, 69.4, 69.5, 70.0, 71.1, 71.4, 71.9, 72.1, 72.5, 72.7, 72.8, 73.0, 73.3, 73.4, 73.5, 73.6, 73.7, 73.8, 74.1, 74.2, 74.3, 74.4, 74.5, 74.6, 74.7, 74.8, 74.9, 75.1, 75.2, 75.3, 75.6, 75.8, 75.9, 76.1, 76.2, 76.3, 76.4, 76.5, 76.7, 76.8, 76.9, 77.0, 77.1, 77.3, 77.4, 77.6, 77.7, 77.8, 78.0, 78.1, 78.2, 78.3, 78.4, 78.5, 78.6, 78.7, 78.8, 79.2, 79.3, 79.4, 79.5, 79.6, 79.8, 79.9, 80.0, 80.1, 80.2, 80.4, 80.5, 80.6, 80.8, 80.9, 81.0, 81.1, 81.4, 81.6, 81.7, 81.9, 82.0, 82.1, 82.3, 82.4, 82.7, 82.8, 83.0, 83.1, 83.2, 83.3, 83.5, 83.7, 83.8, 83.9, 84.3, 84.6, 84.7, 85.0, 85.2, 85.4, 85.9, 86.5, 86.6, 86.8, 87.2, 87.3, 87.4, 87.5, 87.6, 87.7, 87.8, 87.9, 88.1, 88.6, 88.7, 88.8, 89.1, 89.2, 89.3, 89.4, 89.5, 89.6, 89.7, 89.8, 89.9, 90.0, 90.1, 90.3, 90.4, 90.7, 90.8, 91.0, 91.9, 92.2, 92.4]

Secreto:
[False]

In [7]:
# Creamos una lista de registros planos
flat = []
for serie in data_4583:
    nombre = serie['Nombre']
    # Solo nos interesan las series de Propiedad de "Ambos sexos"
    if ('Ambos sexos' in nombre) and ('Propiedad. Hogar.' in nombre):
        # Detectamos si es "Total" o "De 16 a 29 años"
        if 'Todas las edades' in nombre:
            grupo = 'total'
        elif 'De 16 a 29 años' in nombre:
            grupo = '16_29'
        else:
            continue

        # Extraemos para cada punto de tiempo
        for punto in serie['Data']:
            flat.append({
                'year': punto['Anyo'],
                'grupo': grupo,
                'pct': punto['Valor']
            })

# Creamos el DataFrame y lo pivotamos
df_4583 = (
    pd.DataFrame(flat)
      .pivot(index='year', columns='grupo', values='pct')
      .reset_index()
      .rename_axis(None, axis=1)
)

In [9]:
df_4583

    year  16_29  total
0   2004   47.7   79.5
1   2005   53.6   80.5
2   2006   56.1   79.5
3   2007   58.1   80.1
4   2008   54.9   79.6
5   2009   50.0   79.3
6   2010   46.9   79.4
7   2011   46.4   79.6
8   2012   42.5   79.2
9   2013   38.5   77.7
10  2014   34.2   78.0
11  2015   34.2   77.3
12  2016   28.4   77.1
13  2017   26.5   76.7
14  2018   29.6   76.1
15  2019   25.5   75.9
16  2020   31.8   75.2
17  2021   32.5   75.8
18  2022   30.7   75.9
19  2023   29.0   75.1
20  2024   27.0   73.6

In [10]:
df_full = (
    df_4583
    .rename(columns={'total': 'pct_total', '16_29': 'pct_16_29'})
    .sort_values('year')
    .reset_index(drop=True)
)

# Ahora df_full contiene todos los años
print(df_full)

    year  pct_16_29  pct_total
0   2004       47.7       79.5
1   2005       53.6       80.5
2   2006       56.1       79.5
3   2007       58.1       80.1
4   2008       54.9       79.6
5   2009       50.0       79.3
6   2010       46.9       79.4
7   2011       46.4       79.6
8   2012       42.5       79.2
9   2013       38.5       77.7
10  2014       34.2       78.0
11  2015       34.2       77.3
12  2016       28.4       77.1
13  2017       26.5       76.7
14  2018       29.6       76.1
15  2019       25.5       75.9
16  2020       31.8       75.2
17  2021       32.5       75.8
18  2022       30.7       75.9
19  2023       29.0       75.1
20  2024       27.0       73.6

In [11]:
# Configurar conexión
usuario = "jalope"
contrasena = "admin"
host = "127.0.0.1"
puerto = "27250"

uri = f"mongodb://{quote_plus(usuario)}:{quote_plus(contrasena)}@{host}:{puerto}/?directConnection=true"
client = MongoClient(uri)
db = client["tfm_db"]

In [14]:
coll = db['INE_4583_PERFIL_HOGAR']
coll.drop()
coll.insert_many(df_full.to_dict('records'))
print("Registros en la colección: ", coll.count_documents({}))
print("Número de filas de df_full: ", len(df_full))

Registros en la colección:  21
Número de filas de df_full:  21